@charset "UTF-8";
/*  VARIABLES COLORES  */
/* Se puede cambiar to bottom a otras direcciones como to right (de izquierda a derecha), to left (de derecha a izquierda), to top (de abajo hacia arriba) o especificar un ángulo como 45deg. */
/* El degradado radial con forma de diamante, se puede usar radial-gradient con la opción farthest-corner para que ocupe todo el contenedor. Sin embargo, CSS no tiene una opción específica para un degradado de "diamante", pero se puede lograr un efecto similar usando un degradado radial con una forma de "farthest-corner" o "closest-side". */
/*  MIXINS TIPOGRAFÍA */
* {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

.result, .time {
  display: flex;
  justify-content: center;
  font-size: 150px;
  margin-top: 300px;
  margin-bottom: 0;
  color: #F6A347;
  color: radial-gradient(closest-side, #F6A347 0%, #E67900 50%, #F6A347 100%);
  -webkit-text-stroke: 3px #9614B5;
}

.config-result {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.buttons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  border: 2px solid #EED0B2;
  padding: 0;
  display: inline-block;
  position: center;
  cursor: pointer;
}

.reset, .home {
  background-color: #F6A347;
  color: #010A74;
  font-weight: bold;
}

.rules {
  margin: 35px;
}

* {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  width: 100%;
}

.bg {
  width: 100%;
  height: auto;
  background-image: url(./main-page/Images/PPT_ELEMENTOS-01-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: #010A74;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
  margin-left: 20px;
  padding: 15px;
}

.controls-buttons {
  text-align: center;
  display: inline-block;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 21px;
  background-color: #F6A347;
  border-radius: 50%;
  padding: 10px;
  margin: 0px;
  border: #EED0B2 3px solid;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.button:active {
  transform: scale(1.5);
}

img {
  width: 45%;
  height: auto;
}

.logo {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
  margin-right: 50px;
}

.info {
  width: 5%;
  margin-left: 30px;
  /* margin-right: 120px; */
  display: flex;
}

.input-button {
  width: 60%;
  display: flex;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: -50px;
  margin-left: -10%;
}

.input-player {
  text-align: center;
  font-size: 20px;
  width: 274px;
  height: 41px;
  display: flex;
  background-color: #EED0B2;
  border: #F6A347 3px solid;
  border-radius: 32px;
  margin: 0 auto;
}

.input-player::placeholder {
  color: #9614B5;
}

.play-father {
  display: flex;
  display: block;
  align-items: center;
  text-align: center;
  background-color: #F6A347;
  border-radius: 30px;
  border: #EED0B2 3px solid;
  width: 160px;
  height: 41px;
  margin: 0 auto;
}

.play-father:hover {
  background-color: #EED0B2;
  cursor: pointer;
}

.play {
  padding-bottom: 15px;
  border: none;
  flex: 1;
  align-items: center;
  font-size: 32px;
  border-radius: 20px;
  background: linear-gradient(#EB1A7E, #010A74);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px #F6A347;
  filter: drop-shadow(3px 2px 4px rgba(0, 0, 0, 0.568627451));
}

.play:hover {
  cursor: pointer;
}

/* popover */
[popover] {
  width: 727px;
  background: #EED0B2;
  border-bottom: 5px solid #F6A347;
  border-radius: 20%;
  color: #9614B5;
  font-size: 32px;
  padding: 40px;
  margin-left: auto; /* Centra el botón horizontalmente */
  margin-right: auto; /* Centra el botón horizontalmente */
}

#rules {
  border: none;
  background-color: transparent; /*  esto es porque me salia un fondo blanco con un borde negro detrás del container-rules  */
}

.button-rules-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #F6A347;
  border-radius: 50px;
  border: 2px solid #EED0B2;
  cursor: pointer;
  margin: 15px;
  /* para que el svg se ajuste al tamaño del botón */
}
.button-rules-info svg {
  width: 90%;
  height: 90%;
}

.container-rules {
  /*  container caja de reglas */
  height: 176px;
  width: 450px;
  height: 260px;
  padding: 30px;
  background-color: #EED0B2;
  border: 2px solid #F6A347;
  border-radius: 20px;
  margin-left: 15%;
  margin-top: 5%;
}

h1 {
  /*  REGLAS DEL JUEGO */
  font-family: "Luckiest Guy", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  background: radial-gradient(closest-side, #F6A347 0%, #E67900 50%, #F6A347 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #9614B5;
  list-style: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

li {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #9614B5;
  margin-left: 20px;
}

.button-rules-x {
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente el contenido */
  margin-left: auto; /* Centra el botón horizontalmente */
  margin-right: auto; /* Centra el botón horizontalmente */
  margin-top: 10px;
  width: 50px;
  height: 50px;
  background-color: #F6A347;
  color: #010A74;
  border-radius: 50px;
  border: 2px solid #EED0B2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  outline: none; /* Elimina el contorno al enfocarse */
  /* Ajusta la altura de la línea para centrar verticalmente el texto */
  line-height: 10px;
  /* Estilo de texto */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/*.button-rules-info {
    width: 50px; /* Default width */
/*position: relative;
    left: auto;
    margin-left: auto;
    margin-right: auto;
}*/

/*# sourceMappingURL=styles.css.map */
