@import "style2.scss";

*{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html{
    width: 100%;
}
.bg{
    width: 100%;
    height: auto;
    background-image: url(./main-page/Images/PPT_ELEMENTOS-01-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}
i{
    color: $dark-blue-color;
}
.controls{
    display: flex;
    justify-content: space-between;
    //gap: 600px;
    align-items: center;
    margin-right: 8px;
    margin-left: 20px;
    padding: 15px;
}

.controls-buttons{
    text-align: center;
    display: inline-block;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 21px;
    background-color: $yellow-color;
    border-radius: 50%;
    padding: 10px;
    margin: 0px;
    border: $cream-color 3px solid;
    cursor: pointer;

} 
.hidden {
    opacity: 0;
    pointer-events: none;
} 
.button:active {
    transform: scale(1.5);
} 

img{
    width: 45%;
    height: auto;
}
.logo{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 176px;
}

.logo img {
    animation: bounce 1s;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-30px); }
    60% { transform: translateY(-15px); }
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0.5; }
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-right: 50px;
}
.info{
    width: 5%;
    margin-left: 30px;
    /* margin-right: 120px; */
    display: flex;
}
.input-button{
    width: 55%;
    display: flex;
    justify-content:space-around;
    //gap: 10px;
    margin-bottom: 20px;
    margin-right: 155px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: -50px;
    margin-left: -10%;
}

.input-player{
    text-align: center;
    font-size: 20px;
    width: 274px;
    height: 41px;
    display: flex;
    background-color:$cream-color;
    border: $yellow-color 3px solid;
    border-radius: 32px;
    margin: 0 auto;
}
.input-player::placeholder{
    color: $purple-color;
}

.play-father{
    display: flex;
    display: block;
    align-items: center;
    text-align: center;
    background-color: $yellow-color;
    border-radius: 30px;
    border: $cream-color 3px solid;
    width: 130px ;
    height:41px;
    margin: 0 auto;
}
.play-father:hover{
    background-color:$cream-color;
    cursor: pointer;

}
.play{
    padding-bottom: 15px;
    border:none;
    flex: 1;
//    flex-grow: 1;
    align-items: center;
    font-size: 32px;
    border-radius: 20px;
    background: linear-gradient(#EB1A7E,#010A74);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px #F6A347;
    filter: drop-shadow(3px 2px 4px #00000091);
}
.play:hover{
    cursor: pointer;
}

/* popover */

[popover] {
    width: 727px;
    background: $cream-color;
    border-bottom: 5px solid $yellow-color;
    border-radius: 20%;
    color: $purple-color;
    font-size: 32px;
    padding: 40px;
    margin-left: auto; /* Centra el botón horizontalmente */
    margin-right: auto; /* Centra el botón horizontalmente */
}

#rules {
    border: none;
    background-color: transparent; /*  esto es porque me salia un fondo blanco con un borde negro detrás del container-rules  */
}

.button-rules-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: $yellow-color;
    border-radius: 50px;
    border: 2px solid $cream-color;
    cursor: pointer;
    margin: 15px;
    /* para que el svg se ajuste al tamaño del botón */
    svg {
        width: 90%;
        height: 90%;
    }
}

.container-rules {
    /*  container caja de reglas */
    height: 176px;
    width: 450px;
    height: 260px;
    padding: 30px;
    background-color: $cream-color;
    border: 2px solid $yellow-color;
    border-radius: 20px;
    margin-left: 15%;
    margin-top: 5%;

    
}

h1 {
    /*  REGLAS DEL JUEGO */
    @include text-style-1;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

li {
    @include text-style-4;
    margin-left: 20px;
}

.button-rules-x {
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente el contenido */
    margin-left: auto; /* Centra el botón horizontalmente */
    margin-right: auto; /* Centra el botón horizontalmente */
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: $yellow-color;
    color: $dark-blue-color;
    border-radius: 50px;
    border: 2px solid $cream-color; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Elimina el contorno al enfocarse */

    /* Ajusta la altura de la línea para centrar verticalmente el texto */
    line-height: 10px;

    /* Estilo de texto */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.transformed{
    transform: rotate(180deg);
}

/*.button-rules-info {
    width: 50px; /* Default width */
    /*position: relative;
    left: auto;
    margin-left: auto;
    margin-right: auto;
}*/


@media (min-width: 846px) and (max-width: 1025px){
.bg{
    background-image: url(./main-page/Images/PPT\ ELEMENTOS-01.png);
    background-repeat:no-repeat;
}

}

