body {
    background: #5555A0;
    background-image: url("img/fondo.png");
    background-size: 1000px;
    font-family: "Lucida Grande", "Lucida Sans", Arial, Sans-serif;
}
.piedra,
.papel,
.tijeras{
    width: 130px;
    height: 130px;
    border-radius:50%;
    margin: 0;
    border: 1px solid rgba(0,0,0,0);
    padding: 0;
    display:inline-block;
    position:relative;
    overflow: hidden;
    cursor: pointer;
}

[popover] {
    width: 300px;
    background: #fff;
    border: 0;
    border-bottom: 5px solid steelblue;
    color: rgb(255, 94, 0);
    font-family: Jost;
    font-size: 12px;
    
  }
  .contadores{
    display: flex;
    justify-content: space-between;
  }

footer{
display: flex;
justify-content: center;
}
