@charset "UTF-8";
/*  VARIABLES COLORES  */
/* Se puede cambiar to bottom a otras direcciones como to right (de izquierda a derecha), to left (de derecha a izquierda), to top (de abajo hacia arriba) o especificar un ángulo como 45deg. */
/* El degradado radial con forma de diamante, se puede usar radial-gradient con la opción farthest-corner para que ocupe todo el contenedor. Sin embargo, CSS no tiene una opción específica para un degradado de "diamante", pero se puede lograr un efecto similar usando un degradado radial con una forma de "farthest-corner" o "closest-side". */
/*  MIXINS TIPOGRAFÍA */
* {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

.result, .time {
  display: flex;
  justify-content: center;
  font-size: 150px;
  margin-top: 300px;
  margin-bottom: 0;
  color: #F6A347;
  color: radial-gradient(closest-side, #F6A347 0%, #E67900 50%, #F6A347 100%);
  -webkit-text-stroke: 3px #9614B5;
}

.config-result {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.buttons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  border: 2px solid #EED0B2;
  padding: 0;
  display: inline-block;
  position: center;
  cursor: pointer;
}

.reset, .home {
  background-color: #F6A347;
  color: #010A74;
  font-weight: bold;
}

.rules {
  margin: 35px;
}

* {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

a {
  color: #010A74;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: -40px;
}

#icon {
  display: inline-block;
  font-size: 18px;
  width: 50px;
  height: 50px;
  background-color: #F6A347;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid #EED0B2;
  text-align: center;
  justify-content: center;
}

img {
  width: 35%;
  height: 35%;
}

/*estilos header*/
h1 {
  font-weight: bold;
  font-size: 64px;
  color: #EED0B2;
  display: flex;
  justify-content: space-around;
}

p, h1 {
  -webkit-text-stroke: 0.2px #9614B5;
}

.buttons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -200px;
  border: 2px solid #EED0B2;
  padding: 0;
  display: inline-block;
  position: center;
  cursor: pointer;
}

.score {
  display: flex;
  justify-content: space-between;
  color: #EED0B2;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
}

.scoreComputer {
  display: flex;
  justify-content: flex-start;
  gap: 19px;
  margin-left: 50px;
}

.scoreUser {
  display: flex;
  justify-content: flex-end;
  gap: 19px;
  margin-right: 50px;
}

/*estilos main*/
.bg {
  width: 100%;
  height: auto;
  background-image: url(./game-page/img/PPT_ELEMENTOS-01-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hands {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftHand {
  height: 400px;
  width: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  animation: leftHands_move 1.5s linear 5;
}

.rightHand {
  height: 400px;
  width: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  animation: rightHands_move 1.5s linear 5;
}

@keyframes leftHands_move {
  0% {
    background-image: url(/game-page/img/PPT\ ELEMENTOS-piedra\ izq.png);
    background-size: 100%;
  }
  33% {
    background-image: url(/game-page/img/PPT\ ELEMENTOS-papel\ izq.png);
    background-size: 100%;
  }
  66% {
    background-image: url(/game-page/img/PPT\ ELEMENTOS-tijera\ izq.png);
    background-size: 100%;
  }
}
@keyframes rightHands_move {
  0% {
    background-image: url(/game-page/img/PPT\ ELEMENTOS-piedra\ der.png);
    background-size: 100%;
  }
  33% {
    background-image: url(/game-page/img/PPT\ ELEMENTOS-papel\ der.png);
    background-size: 100%;
  }
  66% {
    background-image: url(/game-page/img/PPT\ ELEMENTOS-tijera\ der.png);
    background-size: 100%;
  }
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.timer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #F6A347;
  border: 5px solid #EED0B2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: radial-gradient(closest-side, #F6A347 0%, #E67900 50%, #F6A347 100%);
  font-size: 500px;
  font-family: "Luckiest Guy", cursive;
  font-weight: bolder;
  margin-top: -20px;
}

#time {
  animation: countdown 5s linear infinite;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: white;
  transition: color 0.2s ease;
}

@keyframes countdown {
  from {
    content: "5";
  }
  20% {
    content: "4";
  }
  40% {
    content: "3";
  }
  60% {
    content: "2";
  }
  80% {
    content: "1";
  }
  to {
    content: "0";
  }
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

.player-name {
  background-color: #EED0B2;
  border: 2px solid #F6A347;
  border-radius: 20%;
}

.selector {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #EED0B2;
  position: center;
  cursor: pointer;
  background-color: #188CCC;
}

button:active {
  transform: scale(0.95);
}

.selector img {
  width: 95%;
  height: auto;
}

.selectsUser {
  display: flex;
  justify-content: center;
  gap: 19px;
  margin-top: -30px;
}

.result {
  display: flex;
  justify-content: center;
  font-size: 150px;
  margin-top: 300px;
  margin-bottom: 0;
  color: #F6A347;
  -webkit-text-stroke: 3px #9614B5;
}

/*estilos footer*/
[popover], #effect {
  width: 727px;
  background: #EED0B2;
  border-bottom: 5px solid #F6A347;
  border-radius: 20%;
  color: #9614B5;
  font-size: 32px;
  padding: 40px;
}

.config-result {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.close, .sound {
  background-color: #F6A347;
  color: #010A74;
  font-weight: bold;
}

.close:active, .sound:active {
  transform: scale(0.95);
}

/*.tiempo{ //es para un radio de desenfoque
  border-radius:50%;
  text-shadow:
  3px 3px 2px #EED0B2,
  -3px 3px 2px #EED0B2,
  -3px -3px 0 #EED0B2,
  3px -3px 0 #EED0B2,
  } */

/*# sourceMappingURL=style_game.css.map */
