@import "style2.scss";

*{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html{
    width: 100%;
}
  
  
a{
    color:$dark-blue-color;
}

.controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
  margin-left: 20px;
  padding: 15px;
}

#icon{
  display: inline-block;
  font-size: 18px;
  width: 50px;
  height: 50px; 
  background-color:$yellow-color ;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid $cream-color;
  text-align: center;
  justify-content: center;
}
  
img{
  width: 35%;
  height: 35%;
}

/*estilos header*/

h1{
  font-weight: bold;
  font-size: 64px;
  color:$cream-color;
  display: flex;
  justify-content: space-around;
}

p, h1{ 
  -webkit-text-stroke: 0.2px $purple-color;
}

.buttons{
  width: 50px;
  height: 50px;
  border-radius:50%;
  margin-top: -200px;
  border: 2px solid $cream-color;
  padding: 0;
  display:inline-block;
  position:center;
  cursor: pointer;
}

.score{
  display: flex;
  justify-content: space-between;
  color: $cream-color;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
}

.scoreComputer{
  display: flex;
  justify-content:flex-start;
  gap: 19px;
  margin-left: 50px;
}

.scoreUser{
  display: flex;
  justify-content:flex-end;
  gap: 19px;
  margin-right: 50px;
}

/*estilos main*/

.bg{
  width: 100%;
  height: auto;
  background-image: url(./game-page/img/PPT_ELEMENTOS-01-mobile.png);
  background-size:cover;
  background-repeat:no-repeat;
}

.hands{
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -10%;
}

.leftHand{
  height: 400px;
  width: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  animation: leftHands_move 1.5s linear 5;
}

.rightHand{
  height: 400px;
  width: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  animation: rightHands_move 1.5s linear 5;
}

@keyframes leftHands_move {
  0% {background-image: url(/game-page/img/PPT\ ELEMENTOS-piedra\ izq.png);background-size: 100%;}
  33% {background-image: url(/game-page/img/PPT\ ELEMENTOS-papel\ izq.png);background-size: 100%;}
  66% {background-image: url(/game-page/img/PPT\ ELEMENTOS-tijera\ izq.png);background-size: 100%;}
}

@keyframes rightHands_move {
  0% {background-image: url(/game-page/img/PPT\ ELEMENTOS-piedra\ der.png);background-size: 100%;}
  33% {background-image: url(/game-page/img/PPT\ ELEMENTOS-papel\ der.png);background-size: 100%;}
  66% {background-image: url(/game-page/img/PPT\ ELEMENTOS-tijera\ der.png);background-size: 100%;}
}

.start{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.timer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: $yellow-color;
  border: 5px solid $cream-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $gradient-4;
  font-size: 500px;
  font-family: "Luckiest Guy", cursive;
  font-weight: bolder;
  margin-top: 15%;
}

#time {
  animation: countdown 5s linear infinite;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: white;
  transition: color 0.2s ease;
}

@keyframes countdown {
  from {
    content: "5";
  }
  20% {
    content: "4";
  }
  40% {
    content: '3';
  }
  60% {
    content: '2';
  }
  80% {
    content: '1';
  }
  to {
    content: '0';
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.player-name{
  background-color: $cream-color;
  border: 2px solid $yellow-color;
  border-radius: 20%;
}

.selector{
  width: 50px;
  height: 50px;
  border-radius:50%;
  border: 2px solid $cream-color;
  position:center;
  cursor: pointer;
  background-color:$blue-color; 
}

button:active {
  transform: scale(0.95);
}

.selector img {
  width: 95%;
  height: auto;
}

.selectsUser {
  display: flex;
  justify-content: center;
  gap: 19px;
  margin-top: -5%;
}

.result {
  display: flex;
  justify-content: center;
  font-size: 150px;
  margin-top: 300px;
  margin-bottom: 0;  
  color: $yellow-color; 
  -webkit-text-stroke: 3px $purple-color;
}

/*estilos footer*/

[popover], #effect {
  width: 727px;
  background: $cream-color;
  border-bottom: 5px solid $yellow-color;
  border-radius: 20%;
  color: $purple-color;
  font-size: 32px;  
  padding: 40px;     
}

.config-result{
  display: flex;
  justify-content: center;
  gap:100px;
}

.close, .sound {
  background-color:$yellow-color ;
  color:$dark-blue-color;
  font-weight: bold;
}

.close:active, .sound:active {
  transform: scale(0.95);
}
  

/*.tiempo{ //es para un radio de desenfoque
  border-radius:50%;
  text-shadow:
  3px 3px 2px #EED0B2,
  -3px 3px 2px #EED0B2,
  -3px -3px 0 #EED0B2,
  3px -3px 0 #EED0B2,
  } */
  
  