/* styles.css */
/* universal selector - Applies to whole document */
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background: #082c6c;
        color: #fff;
    }

/* To center everything in game */
.game{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

/* Title of the game */
.title{
    width: 100vw;
    font-family:  "Jacquard 12", system-ui;
    font-weight: 400;
    display: flex;
    justify-content: center;
	position: relative;
	/* top: 0; */
	font-size: 3rem;
}

/* Score Board */
.score{
    /* background-color: #ffff; */
	position: relative;
	width: 100vw;
	display: flex;
	justify-content: space-around;
}

/* Score */
.p-count,.c-count{
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;

}

/* displaying three buttons in one line */
.options{
    font-family: "Jaini", system-ui;
	display: flex;
	width: 60vw;
	justify-content: center;
	margin-top: 2rem;
}

/* Styling on all three buttons */
.rock, .paper, .scissor{
	padding: 0.8rem;
	width: 100px;
	border-radius: 10px;
	/* background: green; */
	outline: none;
	border-color: green;
	border: none;
	cursor: pointer;
}
.img-button{
    width: 50px;

}

.move{
	font-size: 2rem;
	font-weight: bold;
}

/* Reload button style */
.reload {
	display: none;
	margin-top: 2rem;
	padding: 1rem;
	background: green;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.result{
	margin-top: 20px;
	font-size: 1.2rem;
}

/* Responsive Design */
@media screen and (max-width: 612px)
{
	.title{
		text-align: center;
	}
	.score{
		position: absolute;
		top: 200px;
		width: 100vw;
	}
	.options{
		width: 100vw;
	}
}